.menuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuLink {
  text-decoration: none;
  color: white;
  background-color: #808080;
  font-size: 16px;
  display: block;
  padding: 8px 32px;
  transition: background-color 0.3s ease;
}

.menuLink:hover {
  background-color: #444;
  color: #ddd;
  text-decoration: underline;
}
